// _colors.scss
$back-color: #F9EAE3;
$plate-color: #A59890;
$plate-shade: #FFF6ED;
$handle-color: #D6CFC9;
$cup-color: #F8F8F8;
$cup-shadow: #312D21;
$coffee-color: #A14B00;
$coffee-shade: #B1600F;
$foam-color: #FFEEDD;
$coffee-animation-light: #782B00;
$coffee-animation-dark: #BF7222;